<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To Do List</title>
	<link rel="stylesheet" href="CSS.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="text-center">
					<h2>Bienvenido!</h2>
					<h3>Para comenzar coloca tu nombre.</h3>
					<form action="/LogIn" method="post">
						<div class="form-group">
							<input type="nombre" class="form-control" name="name" placeholder="Nombre">
						</div>
    					<button type="submit" class="btn btn-success">Entrar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>